[Unit]
Description=Admin & scoring service for OSC Linux workshop
Wants=linux-workshop-admin.timer

[Service]
ExecStart=/.ws/scripts/linux-workshop-admin.sh
EnvironmentFile=/.ws/env
Type=oneshot

[Install]
WantedBy=multi-user.target
